<template name="sidemenu">
	<nav class="nav-sidebar">
		<ul class="nav tabs">
          <li class="active"><a href="#" id="dashboard" data-toggle="tab">Dashboard</a></li>
          <li class=""><a href="#" id="allsong" data-toggle="tab">All Songs</a></li>
          <li class=""><a href="#" id="addsong" data-toggle="tab">Add Song</a></li>
          <li class=""><a href="#" id="album" data-toggle="tab">Albume</a></li>
          <li class=""><a href="#" id="addalbum" data-toggle="tab">Add Albume</a></li> 
          <li class=""><a href="#" id="singer" data-toggle="tab">Singer</a></li>
          <li class=""><a href="#" id="addsinger" data-toggle="tab">Add Singer</a></li> 
          <li class=""><a href="#" id="logout" data-toggle="tab">Logout</a></li>                               
		</ul>
	</nav>
</template>