<template name="editsong">
	<div class="container">
		<div class="row row-layout">
	        <div class="col-lg-12">
	        	<div class="col-sm-3">
					<h1>COL LEFT</h1>
					{{> sidemenu}}
				</div>
				<div class="col-sm-9">
					<div class="panel panel-default">
                        <div class="panel-heading">
                            FORM ADD MP3
                            <a href="/admin/allsong" class="btn btn-sm btn-primary pull-right">Manage Song</a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
				            <form role="form">
				                <div class="form-group">
				                    <label>SONG NAME</label>
				                    <input class="form-control" id="name" placeholder="Enter song Name Here" value="{{name}}">
				                </div>
				                <div class="form-group">
		                            <label>SELECT ALBUM</label>
		                            <select class="form-control" id="selectalbum" required>
		                                <option value="{{album}}">{{currentalbum album}}</option>
		                                {{#each selectalbum}}
		                                	<option value="{{_id}}">{{name}}</option>
		                            	{{/each}}
		                            </select>
		                        </div>
		                        <div class="form-group">
		                            <label>SELECT VOL</label>
		                            <select class="form-control" id="selectvol" required>
		                                <option value="{{vol}}">{{currentvol vol}}</option>
		                                {{#each getvol}}
		                                	<option value="{{_id}}">{{name}}</option>
		                            	{{/each}}
		                            </select>
		                        </div>
				        		<div class="form-group">
				                    <label>CHOOSE FILE</label>
				                    <input type="file" id="upload">
				                    <input type="hidden" value="{{file}}" id="currentfile">
				                </div>
				                <div class="form-group">
				                    <label>MP3 LINK</label>
				                    <input class="form-control" id="link" placeholder="Enter Link Mp3 Here" value="{{link}}">
				                    <!-- TIMESTAMP -->
				                    <input type="hidden" id="timestamp" value="{{createDate}}">
				                </div>
				                <div class="form-group">
		                            <label>SELECT GENDER</label>
		                            <select class="form-control" id="selectgender" required>
		                            	<option value="0">Select Gender</option>
		                                <option value="Male">Male</option>
		                                <option value="Female">Female</option>
		                            </select>
		                        </div>
		                        <div class="form-group">
		                            <label>SELECT SINGER</label>
		                            <select class="form-control" id="selectsinger" required>
		                            	<option value="{{singer}}">{{currentsinger singer}}</option>
		                                {{#each selectsinger}}
		                                	<option value="{{_id}}">{{khname}}</option>
		                            	{{/each}}
		                            </select>
		                        </div>
				                <div class="form-group">
				                    <button type="button" class="btn btn-primary" id="edit-song">Edit Song</button>
				                </div>
				            </form>
				        </div>
				    </div>
		        </div>
	        </div>
	    </div>
	</div>
</template>